body {
  background: url('https://cdn.nba.net/nba-drupal-prod/2017-08/Twitter-seo-image-NBA-logman.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
    height: 100px;
    width: 100px;
}

header ul li {
  list-style:none;
  display:inline;
  font-size: 20px;
  color:grey;
  margin-top: 100px;
  
}

.counter {
  text-align:center;
}

.startQuiz {
  text-align:center;
}

h1 {
  font-family:arial;
  color:grey;
  margin-top: 50px;
}

